@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gradientBg {
    background: #010015;
    background: linear-gradient(0deg, #010015 0%, #460a75 100%),
      url("/src/assets/svg/bg-pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .loadingGradient {
    background-color: #fdb94b;
    background-image: linear-gradient(96deg, #fdb94b 0%, #b04cec 100%);
  }
}
